<style>
    .small-space {
        height: 25px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #F0F8FF;
        background-color: #D1A43E;
    }

</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: white">
    <div class="container-fluid">

        <div class="container text-align-center">
            <div class="row">

                <div class="col-12 col-md-6">
                    <a href="#"><img src="/Images/CirsaLogo.svg" alt="Bootstrap" width="160" height="50"></a>
                </div>

                <div class="col-12 col-md-6">

                    <nav class="nav nav-pills nav-fill">

                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            Inicio
                        </NavLink>

                        <NavLink class="nav-link" href="counter">
                            Crear Cuenta de Afiliado
                        </NavLink>

                        <NavLink class="nav-link" href="t4r">
                            Iniciar Sesión
                        </NavLink>

                        <NavLink class="nav-link" href="fetchdata">
                            Panel Administrativo
                        </NavLink>

                    </nav>

                </div>

            </div>
        </div>

    </div>
</nav>

<div class="small-space"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

@code {

}
