@inject Services.UserService UserService
@inject NavigationManager NavigationManager
@page "/aff/{affiliateUid}"

<PageTitle>PLACEHOLDER TITLE | Cirsa</PageTitle>


<style>

    #everything-wrapper {
        vertical-align: central;
        background-image: url(@customStyle.GetBackgroundUrl());
        height: 100vh;
        width: 100vw;
    }

    #grey-wrapper {
        background-color: #1a171b;
        padding: 25px;
        border-radius: 10px;
    }

</style>

<div id="everything-wrapper">

    <div class="container py-4 jumbotron-b">

        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div id="grey-wrapper">
                        <!-- Description still loading -->
                        @if (customStyle == null)
                        {
                            <p>Loading...</p>
                        }
                        //Loaded description
                        else
                        {
                            <h4 class="fw-bold"> @customStyle.GetTitle() </h4>
                            <p>
                                @customStyle.GetSummary()
                            </p>
                        }
                    </div>

                </div>

                <div class="col-12 col-md-6">

                    <form class="user-form">

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input @bind-value="clientMail" @bind-value:event="oninput" type="email" class="form-control" id="emailInput" required>
                        </div>
                        <button type="submit" @onclick="RegisterClient" class="btn button-gold-a">Continuar</button>

                    </form>

                </div>

            </div>
        </div>

    </div>

</div>




@code {
    [Parameter]
    public string affiliateUid { get; set; }

    private AffiliateStyle? customStyle;
    private String clientMail = "";


    protected override async Task OnInitializedAsync()
    {
        SetCustomStyle();
    }

    private void SetCustomStyle()
    {
        customStyle = UserService.GetAffiliateStyle(affiliateUid);
    }

    private void RegisterClient()
    {
        
    }
}
