@page "/dashboard"
@inject Services.UserService UserService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Panel Administrativo | Cirsa</PageTitle>


<div class="container py-4 jumbotron-a">


    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <h3 class="fw-bold"> Afiliación </h3>
                <p>
                    Personaliza tu página de afiliado, compártela con los clientes a través del siguiente enlace.
                </p>
            </div>

            <div class="col-12 col-md-6">

                <form class="user-form">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Link de afiliado</label>
                        <input value="@GetAbsoluteUri()" class="form-control" id="nameInput" readonly>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>


@code {

    private String absoluteUri = "";


    private String GetAbsoluteUri()
    {
        return NavigationManager.ToAbsoluteUri("/dashboard/aff/").ToString() + @UserService.GetLoggedUser().GetId();
    }
}