@page "/"

<PageTitle>Inicio</PageTitle>

<style>
    .jumbotron {
        background: #f3ecce;
        border-radius: 25px;
    }
</style>

<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron">
      <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="col">
                        <h1 class="display-5 fw-bold">Afiliados de Cirsa</h1>
                        <p>
                            Gestiona la información de los clientes como afiliado de Cirsa. <br>
                            Para ello dispones de un panel administrativo.
                        </p>
                    </div>

                    <div class="col">
                        <img class="img-fluid" src="/Images/Dashboard.png" alt="Dashboard image">
                    </div>
                </div>
            </div>  

      </div>
    </div>

  </div>
</main>
