@page "/"

<PageTitle>Inicio | Cirsa</PageTitle>

<style>
    .jumbotron {
        background: #875424;
        max-width: 800px;
        border-radius: 10px;
    }
</style>

<main>
    <div class="container py-4 jumbotron">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <h1 class="display-5 fw-bold">Afiliados de Cirsa</h1>
                        <p>
                            Gestiona la información de los clientes como afiliado de Cirsa. <br>
                            Para ello dispones de un panel administrativo.
                        </p>
                    </div>

                    <div class="col-12 col-md-6">
                        <img class="img-fluid" src="/Images/Dashboard.png" alt="Dashboard image">
                    </div>
                </div>
            </div>  

      </div>
    </div>

  </div>
</main>
