<!-- Bindings explained: https://stackoverflow.com/questions/58221915/difference-between-bind-and-bind-value -->
@inject Services.UserService UserService
@inject NavigationManager NavigationManager
@page "/login"

<PageTitle>Iniciar Sesión | Cirsa</PageTitle>


<div class="container py-4 jumbotron-a">


    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <h1 class="display-5 fw-bold">Iniciar Sesión </h1>
                <p>
                    Inicia sesión como afiliado para acceder al panel administrativo.
                </p>
            </div>

            <div class="col-12 col-md-6">

                <form class="user-form">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input @bind-value="email" @bind-value:event="oninput" type="email" class="form-control" id="emailInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input @bind-value="password" @bind-value:event="oninput" type="password" class="form-control" id="passwordInput" minlength="8" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input @bind="isRememberingUser" type="checkbox" class="form-check-input" id="rememberUserCheck">
                        <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                    </div>
                    <button type="submit" @onclick="TryLogin" class="btn button-gold-a">Continuar</button>

                </form>

            </div>

        </div>
    </div>

</div>


@code {
    private String email = "";
    private String password = "";
    private bool isRememberingUser = false;


    private void TryLogin()
    {

        var result = UserService.TryLoginUser(email, password);

        if (result.Item1 == true)
        {
            NavigationManager.NavigateTo("dashboard");
        }
    }
}

