@page "/login"

<PageTitle>Iniciar Sesión | Cirsa</PageTitle>


<div class="container py-4 jumbotron-a">


    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <h1 class="display-5 fw-bold">Iniciar Sesión </h1>
                <p>
                    Inicia sesión para acceder al panel administrativo.
                </p>
            </div>

            <div class="col-12 col-md-6">

                <form class="user-form">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberUserCheck">
                        <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                    </div>
                    <button type="submit" class="btn button-gold-a">Continuar</button>
                </form>

            </div>

        </div>
    </div>

</div>






@code {
    public int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

